[Unit]
Description=Play RTSP camera
DefaultDependencies=no
After=sway.service
Requires=sway.service

[Service]
User=root
Group=root
WorkingDirectory=/root
#PAMName=sway-autologin

# A virtual terminal is needed.
#TTYPath=/dev/tty8
#TTYReset=yes
#TTYVHangup=yes
#TTYVTDisallocate=yes

Type=simple
#ExecStartPre=/bin/sleep 2
ExecStart=/root/scripts/play_rtsp_stream.sh
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
