[Unit]
Description=Auto expand rootfs
DefaultDependencies=no
After=local-fs.target
Wants=local-fs.target

[Service]
Type=simple
ExecStart=/root/scripts/expand-rootfs.sh

[Install]
WantedBy=multi-user.target
